body {
  box-sizing: border-box;
  /* letter-spacing: 0.1rem; */
}

section {
  text-align: center;
}

.container {
  padding: 0;
}

.head {
  position: relative;
  margin: 30px 0 0 0;
}

.trans {
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  /* background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(247,247,247,0.49756445242545666) 62%, rgba(247,247,247,0) 98%); */
}
.item_box:nth-child(1) h2 {
  padding-top: 30px;
}

.navdiv {
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: white;
  justify-content: center;
  border-radius: 60px;
  transition: all 0.2s linear;
}

.shadow {
  box-shadow: 0 10px 10px 10px black;
}

ul {
  padding: 10px 15px;
  margin: 0;
}


nav ul li {
  list-style: none;
  display: inline-block;
  margin: 5px 0;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: lightgrey;
  border-radius: 30px;
  color: #edfcfc;
  background-color: #2fd8e0;
  border: 4px solid rgba(255, 255, 255);
  transition: all 0.2s;
}

nav li a:hover {
  color: white;
  border-color: #2fd8e0;
  box-shadow: 0 0 10px 2px #89adad;
}

nav li a:active {
  background-color: #1a68d6;
  color: white;
  border-color: #1a68d6;
}

nav li a:active , nav li a:focus{
  background-color: #1a68d6;
  color: white;
  border-color: #1a68d6;
}

h2 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.head .header {
  height: 30vh;
  min-height: 100px;
  background-color: black;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
}

.head h1 {
  position: absolute;
  z-index: 3;
  color: white;
  text-shadow:  0 0 30px black;
}


.head .header .header_pic {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#fooddelivery h2 {
  padding-top: 40px;
}

section > div:nth-child(odd):not(:nth-child(1)) {
  background-color: #f7f7f7;
}

.item_box {
  position: relative;
  width: 250px;
  height: 400px;
  background: white;
  box-shadow: 0 10px 60px -8px lightgrey;
  border-radius: 16px;
  text-align: center;
  margin: 0 15px 60px 15px;
  overflow: hidden;
  transition: box-shadow 0.3s linear;
}

.item_box:hover {
  box-shadow: 0 10px 80px -8px grey;
}


a:hover {
  text-decoration: none;
}

.button_1 {
  display: inline-block;
  height: 40px;
  width: 100%;
  max-width: 200px;
  border-radius: 30px;
  background-color: #3333ff;
  border: 4px solid lightblue;
  transition: all 0.5s linear;
  padding: 4px;
  color: lightblue;
}

.button_2 {
  display: inline-block;
  height: 40px;
  width: 100%;
  max-width: 60px;
  border-radius: 30px 0 0 30px;
  background-color: lightblue;
  border: 4px solid lightblue;
  border-right: 0;
  transition: all 0.5s linear;
  padding: 4px;
  color: #3333ff;
}

.button_3 {
  display: inline-block;
  height: 40px;
  width: 100%;
  max-width: 140px;
  border-radius: 0 30px 30px 0;
  background-color: #3333ff;
  border: 4px solid lightblue;
  border-left: 0;
  transition: all 0.5s linear;
  padding: 4px;
  color: lightblue;
}

.button_1:hover, .button_3:hover {
  background-color: lightblue;
  border-color: #3333ff;
}

.button_4 {
  background-color: lightblue;
  border-color: #3333ff;
}


.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 25px;
}

.item_pic {
  height: 40%;
  /* top: 0px; */
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}

.item_deets {
  padding: 15px;
}

.item_box a {
  bottom: 50px;
}

.item_pic img {

  min-height: 100%;
  min-width: 100%;
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  text-align: center;
  background: #f7f7f7;
  height: 60px;
}

footer p {
  position: relative;
  margin: 0;
  top: 30%;
  color: lightgrey;
}

@media screen and (max-width:767px) {
  .item_box {
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
  }

  .item_deets {
    padding: 0;
  }

  .button {
    bottom: 15px;
  }

  .item_deets p {
    padding: 0 10px;
  }

  .item_box h3 {
    margin: 0;
  }

  .head {
    margin-top: 0;
  }

  .head .header {
    border-radius: 0;
  }

  nav li a {
    padding: 5px 10px;
  }

  nav ul li {
    margin: 2px;
  }

  .navdiv {
    border-radius: 0px;
  }

  h2 {
    padding: 30px 0 15px 0;
    font-size:
  }

  .head .header {
    height: 20vh;
  }
}
