

#mainNav {
    min-height: 56px;
    background-color: #fff;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #dec35d;
    border: 1px solid #dec35d;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #161616;
    font-weight: 700;
    padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        -webkit-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link {
        -webkit-transition: none;
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
        color: white;
    }
    #mainNav.navbar-shrink {
        background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #161616;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #161616;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
        color: #dedb2f;
    }
    #mainNav.navbar-shrink .nav-link:active {
        color: #de565b;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #dec35d;
        outline: none;
        border-bottom: 0.25rem solid #dec35d;
    }
}

#portfolio .container-fluid {
    max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box {
    position: relative;
    display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(222, 195, 93, 0.9);
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
    font-size: 3rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.masthead {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/DSC06797.JPG");
    background: url("../img/DSC06797.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.mas1 {
    margin-top: 0;
}



.masthead h1 {
    font-family: 'Permanent Marker', cursive;;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    color: white;
    text-shadow: 0 3px 5px #a0a1a2;
}

.masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
    text-shadow: 0 3px 5px #a0a1a2;
}

@media (min-width: 768px) {

    .masthead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

}
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}

.btn {

    padding: 0.5rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
    background-color: #dec35d;
    border-radius: 0;
}

.btn-primary {
    background-color: #dec35d;
}

.btn-primary:hover {
    background-color: #de565b;
}

.btn-primary:focus {
    background-color: #de343b;
    color: white;
}
.btn-primary:active {
    background-color: #dec35d !important;
}

.about-section {
    padding-top: 8rem;

}

.about-section p {
    margin-bottom: 2rem;
}

.projects-section {
    padding: 10rem 0;
}

.projects-section .featured-text {
    padding: 2rem;
}

@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #dec35d;
    }
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}

@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }
    .projects-section .project-text hr {
        border-color: #dec35d;
        border-width: .25rem;
        width: 30%;
    }
}


.carousel .pic {
    overflow:hidden;
    width: 100%;
}


.carousel {
    margin-top: 5rem;
    margin-bottom: 5rem;
}






.contact-section {
    padding: 5rem 0 0;
}

.contact-section .card {
    background: #161616;
    border: 0;
    border-bottom: 0.25rem solid #dec35d;
    border-top: 0.25rem solid #dec35d;
}

.contact-section .card h4 {
    font-size: 0.8rem;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}



.contact-section .social {
    margin-top: 5rem;
}

.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
    color: #fff;
}

body {
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
}

a {
    color: #dec35d;
}

a:focus, a:hover {
    text-decoration: none;
    color: #de343b;
}

.bg-black {
    background-color: #161616 !important;
}

.bg-primary {
    background-color: #dec35d !important;
}

.text-primary {
    color: #dec35d !important;
}

footer {
    padding: 5rem 0;
}
